{% extends 'base.html' %} {% load static %}
<!-- This line loads the static tag -->
{% block content %}
<!--=============== MAIN ===============-->
<main class="main" id="main">
  <div class="login section">
    <img src="{% static 'img/6.webp' %}" alt="login image" class="login__img" />

    <form method="POST" action="{% url 'update_user' %}" class="login__form">
      {% csrf_token %}
      <h1 class="login__title">Update Profile</h1>

      <div class="login__content">
        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>
          <div class="login__box-input">
            <input
              type="text"
              class="login__input"
              id="username"
              name="username"
              placeholder=" "
              value="{{ user_form.username.value }}"
            />
            <label for="username" class="login__label">User Name</label>
          </div>
        </div>

        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>
          <div class="login__box-input">
            <input
              type="text"
              class="login__input"
              id="first_name"
              name="first_name"
              placeholder=" "
              value="{{ user_form.first_name.value }}"
            />
            <label for="first_name" class="login__label">First Name</label>
          </div>
        </div>

        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>
          <div class="login__box-input">
            <input
              type="text"
              class="login__input"
              id="last_name"
              name="last_name"
              placeholder=" "
              value="{{ user_form.last_name.value }}"
            />
            <label for="last_name" class="login__label">Last Name</label>
          </div>
        </div>

        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>
          <div class="login__box-input">
            <input
              type="email"
              class="login__input"
              id="email"
              name="email"
              placeholder=" "
              value="{{ user_form.email.value }}"
            />
            <label for="email" class="login__label">Email</label>
          </div>
        </div>
      </div>

      {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field in form %} {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="home__buttons">
        <button type="submit" class="button">Update Profile</button>
        <a href="{% url 'update_password' %}" class="button button__ghost"
          >Update Password</a
        >
      </div>
    </form>
  </div>

  {% endblock %}
</main>
