{% extends 'base.html' %} {% load static %} {% block content %}
<main style="padding-top: 0" class="main" id="main">
  <div class="login section">
    <img src="{% static 'img/6.webp' %}" alt="login image" class="login__img" />

    <form
      method="POST"
      action="{% url 'update_password' %}"
      class="login__form"
    >
      <h1 class="login__title">Update Password</h1>

      {% csrf_token %}

      <div class="login__content">
        <!-- Password Field -->
        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>
          <div class="login__box-input">
            {{ form.new_password1.errors }} {{ form.new_password1 }}
            <!-- Add Help Text below the field -->
            {% if form.new_password1.help_text %}
            <div class="help-text">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
            <i class="ri-eye-off-line login__eye" id="login-eye1"></i>
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>
          <div class="login__box-input">
            {{ form.new_password2.errors }} {{ form.new_password2 }}
            <!-- Add Help Text below the field -->
            {% if form.new_password2.help_text %}
            <div class="help-text">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
            <i class="ri-eye-off-line login__eye" id="login-eye2"></i>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="home__buttons">
        <button type="submit" class="button button__ghost">
          Update Password
        </button>
      </div>
    </form>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const eyeIcon1 = document.getElementById("login-eye1");
    const eyeIcon2 = document.getElementById("login-eye2");
    const passwordField1 = document.querySelector(
      'input[name="new_password1"]'
    );
    const passwordField2 = document.querySelector(
      'input[name="new_password2"]'
    );

    eyeIcon1.addEventListener("click", function () {
      if (passwordField1.type === "password") {
        passwordField1.type = "text";
        eyeIcon1.classList.remove("ri-eye-off-line");
        eyeIcon1.classList.add("ri-eye-line");
      } else {
        passwordField1.type = "password";
        eyeIcon1.classList.remove("ri-eye-line");
        eyeIcon1.classList.add("ri-eye-off-line");
      }
    });

    eyeIcon2.addEventListener("click", function () {
      if (passwordField2.type === "password") {
        passwordField2.type = "text";
        eyeIcon2.classList.remove("ri-eye-off-line");
        eyeIcon2.classList.add("ri-eye-line");
      } else {
        passwordField2.type = "password";
        eyeIcon2.classList.remove("ri-eye-line");
        eyeIcon2.classList.add("ri-eye-off-line");
      }
    });
  });
</script>

{% endblock %}
