{% extends 'base.html' %} {% load static %}
<!-- This line loads the static tag -->
{% block content %}
<main class="main" id="main">
  <div class="containershipping">
    <!-- Order Summary -->
    <div class="order-summary">
      <h2>Order Summary</h2>
      <div class="order-item">
        {% for product in cart_products %}
        <p>
          <strong>{{ product.name }}:</strong>
          {% if product.is_sale %} ${{ product.sale_price }} {% else %} ${{
          product.price }} {% endif %}
        </p>
        <p>
          <strong>Quantity:</strong>
          {% for key, value in quantities.items %}
          <!-- Order Summary -->{% if key == product.id|slugify %} {{ value }}
          {% endif %} {% endfor %}
        </p>
        {% endfor %}

        <!-- عرض رسوم التوصيل -->
        <p>
          <strong>Delivery Fee:</strong>
          {% if delivery_fee > 0 %} ${{ delivery_fee }} {% else %} Free
          {%endif%}
        </p>

        <!-- عرض التوتال بدون التوصيل -->
        <p><strong>Subtotal:</strong> ${{ totals }}</p>

        <!-- عرض التوتال مع التوصيل -->
        <p>
          <strong>Total (Including Delivery):</strong>
          $ {{ total_with_delivery}}
        </p>

        <a href="{% url 'cart_summary' %}">
          <button class="btn">Update Items</button>
        </a>
      </div>
    </div>

    <!-- Shipping Info -->
    <div class="shipping-info">
      <h2>Shipping Info</h2>
      {% if user.is_authenticated %}
      <form method="POST" action="{% url 'billing_info' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="shipping_full_name">Full Name</label>
          <input
            type="text"
            id="shipping_full_name"
            name="shipping_full_name"
            value="{{ shipping_form.full_name.value|default_if_none:'' }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="shipping_email">Email Address</label>
          <input
            type="email"
            id="shipping_email"
            name="shipping_email"
            value="{{ shipping_form.email.value|default_if_none:'' }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="shipping_address1">Address Line 1</label>
          <input
            type="text"
            id="shipping_address1"
            name="shipping_address1"
            value="{{ shipping_form.address.value|default_if_none:'' }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="shipping_city">City</label>
          <input
            type="text"
            id="shipping_city"
            name="shipping_city"
            value="{{ shipping_form.city.value|default_if_none:'' }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="shipping_state">State</label>
          <input
            type="text"
            id="shipping_state"
            name="shipping_state"
            value="{{ shipping_form.state.value|default_if_none:'' }}"
          />
        </div>
        <div class="form-group">
          <label for="shipping_country">Country</label>
          <input
            type="text"
            id="shipping_country"
            name="shipping_country"
            value="{{ shipping_form.country.value|default_if_none:'' }}"
            required
          />
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      {% else %}
      <div class="alert alert-warning">
        You need to
        <a href="{% url 'login' %}?next={% url 'checkout' %}">log in</a> to
        proceed to checkout.
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
